/* Boxed Layout */
.boxed {
	.body {
		margin: 0 auto;
		@media (min-width: 768px) {
			max-width: 828px;
		}
		@media (min-width: 992px) {
			max-width: 1052px;
		}
		@media (min-width: 1200px) {
			max-width: 1260px;
		}
	}
}

